{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="payapp">
        <header class="pay-header">
            <div class="app-header-logo">
                <div class="logo">
				<span class="logo-icon">
					<img src="https://assets.codepen.io/285131/almeria-logo.svg"/>
				</span>
                    <h1 class="logo-title">
                        <h1>Hello Admin</h1>
                    </h1>
                </div>
            </div>

            <div class="pay-nav">
                <div class="tabs">
                    <h1 class="logo-title">
                        <h1>Welcome to RKPAY</h1>
                    </h1>
                </div>
            </div>
            <div class="app-header-logo">
                <div class="logo">
                    <h1 class="logo-title">
                        <div class="payments">
                            <div class="payment">

                            </div>
                        </div>
                    </h1>
                </div>
            </div>
        </header>


        <div class="service-section-header">
            <div class="search-field">
                <i class="ph-magnifying-glass"></i>
                <input type="text" placeholder="Search by Account Name">
            </div>

            <button class="flat-button" style="background-color: var(--c-olive-500); color: #121212">
                Search
            </button>
        </div>

        {#Show Transactions Modal#}
        <div class="modal" id="TransactionModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Money Sent by User</h2>
                    <button class="flat-button" onclick="closeTransactionModal()"
                            style="background-color: var(--c-olive-500); color: #121212">X
                    </button>
                </div>
                <div class="modal-body">
                    <div class="transfers">
                        {% for transaction in transactions_sent %}
                            <div class="transfer">
                                <div class="transfer-logo">
                                    <img src="{% static 'base/images/people.svg' %}"/>
                                </div>
                                <dl class="transfer-details">
                                    <div>
                                        <dt>{{ transaction.sender }}</dt>
                                    </div>
                                    <div>
                                        <dt>{{ transaction.receiver }}</dt>
                                        <dd>
                                            {{ transaction.amount }}
                                        </dd>
                                    </div>
                                    <div>
                                        <dd>Transaction Time</dd>
                                        <dt>{{ transaction.timestamp }}</dt>
                                    </div>
                                </dl>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="transfers">
            {% for user, user_profile in user_data %}
                <div class="transfer">
                    <div class="transfer-logo">
                        <img src="{% static 'base/images/people.svg' %}"/>
                    </div>
                    <dl class="transfer-details">
                        <div>
                            <dt>{{ user.first_name }}</dt>
                            <dd>{{ user.last_name }} </dd>
                        </div>
                        <div>
                            <dt>{{ user.username }}</dt>
                            <dd>Balance - {{ user_profile.bal }} {% if user_profile.currency == 'GBP' %}
                                £
                            {% elif user_profile.currency == 'Euro' %}
                                €
                            {% elif user_profile.currency == 'Dollar' %}
                                $
                            {% endif %}
                            </dd>
                        </div>
                        <div>
                            <dd>Date Joined</dd>
                            <dt>{{ user.date_joined }}</dt>
                        </div>
                    </dl>
                    <button class="flat-button"
                            style="background-color: var(--c-olive-500); color: #121212"
                            type="submit"
                            onclick="openTransactionModal('{{ user.first_name }}', '{{ user.last_name }}')">
                        Show Transactions
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'base/js/payapp.js' %}"></script>

{% endblock %}