{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block additional_css %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style1.css' %}">#}
{% endblock %}
{% block content %}
    <div class="payapp">
        <header class="pay-header">
            <div class="app-header-logo">
                <div class="logo">
				<span class="logo-icon">
					<img src="https://assets.codepen.io/285131/almeria-logo.svg"/>
				</span>
                    <h1 class="logo-title">
                        <h1>Hello {{ username }}</h1>
                    </h1>
                </div>
            </div>

            <div class="pay-nav">
                <div class="tabs">
                    <h1 class="logo-title">
                        <h1>Welcome to RKPAY</h1>
                    </h1>
                    {#                    <a href="#" class="active">#}
                    {#                        Main#}
                    {#                    </a>#}
                    {#                    <a href="#">#}
                    {#                        About#}
                    {#                    </a>#}
                    {#                    <a href="#">#}
                    {#                        History#}
                    {#                    </a>#}

                </div>
            </div>
            <div class="app-header-logo">
                <div class="logo">
                    <h1 class="logo-title">
                        <div class="payments" onclick="openNotificationModal()">
                            <div class="payment">
                                <div class="card-open-money-req olive">
                                    <span style="color: #121212">Your Open Money requests</span>
                                </div>
                            </div>
                        </div>
                        {#                        <button class="icon-notification" onclick="openNotificationModal()"><h4>Your open money#}
                        {#                            requests</h4></button>#}
                    </h1>
                </div>
            </div>
            <div class="pay-head-mob">
                <button class="icon-button large">
                    <i class="ph-list"></i>
                </button>
            </div>
        </header>
        <div class="payapp-body">
            <div class="app-body-navigation">
                {#                <nav class="navigation">#}
                {#                    <a href="#">#}
                {#                        <i class="ph-browsers"></i>#}
                {#                        <span>Dashboard</span>#}
                {#                    </a>#}
                {#                    <a href="#">#}
                {#                        <i class="ph-check-square"></i>#}
                {#                        <span>Scheduled</span>#}
                {#                    </a>#}
                {#                    <a href="#">#}
                {#                        <i class="ph-swap"></i>#}
                {#                        <span>Transfers</span>#}
                {#                    </a>#}
                {#                    <a href="#">#}
                {#                        <i class="ph-file-text"></i>#}
                {#                        <span>Templates</span>#}
                {#                    </a>#}
                {#                    <a href="#">#}
                {#                        <i class="ph-globe"></i>#}
                {#                        <span>SWIFT</span>#}
                {#                    </a>#}
                {#                    <a href="#">#}
                {#                        <i class="ph-clipboard-text"></i>#}
                {#                        <span>Exchange</span>#}
                {#                    </a>#}
                {#                </nav>#}
                {#                <footer class="footer">#}
                {#                    <h1>Almeria<small>©</small></h1>#}
                {#                    <div>#}
                {#                        Almeria ©<br />#}
                {#                        All Rights Reserved 2021#}
                {#                    </div>#}
                {#                </footer>#}
            </div>

            <!-- Pay Modal -->
            <div class="modal" id="payModal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Pay Modal</h2>
                        <button class="flat-button" onclick="closePayModal()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Pay Modal Content</p>
                        <form method="post" action="{% url 'main_page' %}">
                            {% csrf_token %}
                            {{ pay_form | crispy }}
                            <input type="hidden" name="first_name" id="first_name">
                            <input type="hidden" name="currency_type" id="currency_type">
                            <input type="hidden" name="last_name" id="last_name">
                            <input type="submit" id="submit" value="Pay">
                        </form>
                    </div>
                </div>
            </div>

            <!-- Request Modal -->
            <div class="modal" id="requestModal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Request Modal</h2>
                        <button class="flat-button" onclick="closeRequestModal()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Request Modal Content</p>
                        <form method="post" action="{% url 'main_page' %}">
                            {% csrf_token %}
                            {{ request_form | crispy }}
                            <input type="hidden" name="request_first_name" id="request_first_name">
                            <input type="hidden" name="request_currency_type" id="request_currency_type">
                            <input type="hidden" name="request_last_name" id="request_last_name">
                            <input type="submit" id="submit" value="Request">
                        </form>
                    </div>
                </div>
            </div>

            <!-- Add Money Modal-->
            <div class="modal" id="AddMoney">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Add Money</h2>
                        <span class="flat-button" onclick="closeAddMoney()">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div class="modal-content">
                            <form method="post" action="{% url 'main_page' %}">
                                {% csrf_token %}
                                {{ addMoneyForm | crispy }}
                                <input type="submit" id="submit" value="Add Money">
                                <p id="paymentError" style="color: red; display: none;">Amount must be between 1 and
                                    1000</p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Requested Money Notification Modal-->
            <div class="modal" id="NotificationModal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Pending Requests</h2>
                        <span class="close" onclick="closeNotificationModal()">&times;</span>
                    </div>
                    <div class="modal-body">
                        <div class="modal-content">
                            <div class="table-container">

                                <table class="notification-table">
                                    <tbody>
                                    <th>
                                        Requester
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Accept/Deny
                                    </th>
                                    {% for notification in notifications %}
                                        <tr>
                                            <td>{{ notification.requester }}</td>
                                            <td>{{ notification.amount }}</td>
                                            <td>
                                                <form method="post" action="{% url 'main_page' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="requester_username"
                                                           value="{{ notification.requester }}">
                                                    <input type="hidden" name="notification_id"
                                                           value="{{ notification.id }}">
                                                    <input type="hidden" name="requested_amount"
                                                           value="{{ notification.amount }}">
                                                    <input type="submit" class="flat-button-accept" id="accept_submit"
                                                           name="accept_notification"
                                                           value="Accept">
                                                    <input type="submit" class="flat-button-reject" id="reject_submit"
                                                           name="reject_notification"
                                                           value="Reject">
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="flat-button" onclick="closeNotificationModal()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="app-body-main-content">
                <section class="service-section">
                    <h2>Connections</h2>
                    <div class="service-section-header">
                        <div class="search-field">
                            <i class="ph-magnifying-glass"></i>
                            <input type="text" placeholder="Account number">
                        </div>
                        <button class="flat-button">
                            Search
                        </button>
                    </div>
                    <div class="mobile-only">
                        <button class="flat-button">
                            Toggle search
                        </button>
                    </div>
                    <div class="tiles">
                        {% for user in users %}
                            <article class="tile">
                                <div class="tile-header">
                                    <h3>
                                        <span> {{ user.first_name }}</span>
                                        <span> {{ user.last_name }}</span>
                                        <span> <h6>Currency type - </h6></span>
                                        <span> <small>{{ user.payapp_profile.get_currency_display }} {{ cur }}</small></span>
                                    </h3>
                                </div>
                                <button class="flat-button"
                                        onclick="openPayModal('{{ user.first_name }}', '{{ user.last_name }}', '{{ user.payapp_profile.currency }}')">
                                    Pay
                                </button>
                                <button class="flat-button"
                                        onclick="openRequestModal('{{ user.first_name }}', '{{ user.last_name }}', '{{ user.payapp_profile.currency }}')">
                                    Request
                                </button>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="service-section-footer">
                        <p>Services are paid according to the current state of the currency and tariff.</p>
                    </div>
                </section>
                <section class="transfer-section">
                    <div class="transfer-section-header">
                        <a href='#' id='toggle' class='active'><h2>Received Money</h2>
                        </a>
                        <div class="filter-options">
                            <a href='#' id='toggle'><h2>Paid Money</h2></a>
                        </div>
                    </div>
                    <div class="transfers">
                        <div id="received-transactions" class='toggle-transactions'>
                            {% for transaction in received_transactions %}
                                <div class="transfer">
                                    <div class="transfer-logo">
                                        <img src="{% static 'base/images/people.svg' %}"/>
                                    </div>
                                    <dl class="transfer-details">
                                        <div>
                                            <dt>{{ transaction.sender.user.first_name }}</dt>
                                            <dd>{{ transaction.sender.user.last_name }}</dd>
                                        </div>
                                        <div>
                                            <dt>4012</dt>
                                            <dd>Last four digits</dd>
                                        </div>
                                        <div>
                                            <dt>{{ transaction.timestamp|date:"H:i:s" }}</dt>
                                            <dd>Date payment</dd>
                                        </div>
                                    </dl>
                                    <div class="transfer-number">
                                        $ {{ transaction.amount }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class='toggle-transactions' id="sent-transactions" style="display:none">
                            {% for transaction in sent_transactions %}
                                <div class="transfer">
                                    <div class="transfer-logo">
                                        <img src="{% static 'base/images/people.svg' %}"/>
                                    </div>
                                    <dl class="transfer-details">
                                        <div>
                                            <dt>{{ transaction.sender.user.first_name }}</dt>
                                            <dd>{{ transaction.sender.user.last_name }}</dd>
                                        </div>
                                        <div>
                                            <dt>4012</dt>
                                            <dd>Last four digits</dd>
                                        </div>
                                        <div>
                                            <dt>{{ transaction.timestamp|date:"H:i:s" }}</dt>
                                            <dd>Date payment</dd>
                                        </div>
                                    </dl>
                                    <div class="transfer-number">
                                        $ {{ transaction.amount }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </section>
            </div>


            <div class="app-body-sidebar">
                <section class="payment-section">
                    <div class="payments">
                        <div class="payment">
                            <div class="card green">
                                <span>01/22</span>
                                <span>
								•••• 4012
							</span>
                            </div>
                            <div class="payment-details">
                                <h3>Your Acc Balance</h3>
                                <div>
                                    {% if balance and cur %}
                                        <span> {{ balance }} {{ cur }}</span>
                                    {% else %}
                                        <span> <h5>Add Money to get started</h5></span>
                                    {% endif %}
                                    <button class="save-button" onclick="openAddMoney()">
                                        Add Money
                                    </button>
                                    {#                                    <div onclick="openAddMoney()">#}
                                    {#                                            <h5>Add Money</h5>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq">
                        <p>Most frequently asked questions</p>
                        <div>
                            <label>Question</label>
                            <input type="text" placeholder="Type here">
                        </div>
                    </div>
                    <div class="payment-section-footer">
                        <button class="save-button">
                            Save
                        </button>
                        <button class="settings-button">
                            <i class="ph-gear"></i>
                            <span>More settings</span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="{% static 'base/js/payapp.js' %}"></script>

{% endblock %}

