{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <body class="body-login">
    <div class="container-login">
        <section id="formHolder">

            <div class="row">

                <!-- Brand Box -->
                <div class="col-sm-6 brand">
{#                    <a href="#" class="logo">MR <span>.</span></a>#}

                    <div class="heading">
                        <h2>RKPAY</h2>
                        <p>Your Right Choice</p>
                    </div>

                    <div class="success-msg">
                        <p>Great! You are one of our members now</p>
                        <a href="#" class="profile">Your Profile</a>
                    </div>
                </div>

                <!-- Form Box -->
                <div class="col-sm-6 form">

                    <!-- Login Form -->
                    <div class="login form-piece switched">
                        <form class="login-form" action="{% url 'register' %}" method="post">

                            <div class="CTA">
                                <input type="submit" value="Login">
                                <a href="#" class="switch">I'm New</a>
                            </div>
                        </form>
                    </div>
                    <!-- End Login Form -->

                    <!-- Signup Form -->
                    <div class="signup form-piece">
                        <form id= "loginForm" class="signup-form" method="post">
                            {%csrf_token%}
                            {{ form.firstname|as_crispy_field }}
                            {{ form.lastname|as_crispy_field }}
                            {{ form.username|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            {{ form.phone|as_crispy_field }}
                            {{ form.location|as_crispy_field }}
                            {{ form.password|as_crispy_field }}
                            {{ form.confirm_password|as_crispy_field }}
                            <div class="CTA">
                                <button type="submit">Sign Up</button>
                                <a href="#" class="switch">I have an account</a>
                            </div>
                        </form>
                    </div><!-- End Signup Form -->
                </div>
            </div>

        </section>
        </div>
    </body>
    <script src="{% static 'base/js/login.js' %}"></script>

{% endblock %}

