{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'base/images/android-chrome-512x512.png' %}" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="{% static 'base/css/style1.css' %}">

{#    {% block additional_css %}{% endblock %}#}

    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>


<header>
    {% block header %}{% endblock %}
</header>

<main>
        {% block content %}{% endblock %}
</main>
    {% block footer %}{% endblock %}
{#<script src="{% static 'base/js/navbar.js' %}"></script>#}

</body>
</html>
