<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Add your CSS and other head elements here -->
</head>
<body>
<header>
    <h1>{% block header %}My Website Header{% endblock %}</h1>
    <!-- Add navigation or other header elements here -->
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- Add footer elements here -->
</footer>

<!-- Add your JavaScript and other scripts here -->
</body>
</html>
